html {
  cursor: url("assets/cat.png"), auto;
  height: 100%;
}
body {
  background-color: #E0C9C3;
}
.scrn {
  position: relative;
  width: 100vw;
}
.container {
  position: absolute;
  z-index: 0;
  top: 46%;
  width: 100vw;
  transform: translateY(-50%);
  display: grid;
  justify-content: space-around;
}
.text-stack {
  margin: 20px 0px 0px 0px;
  text-align: center;
  position: relative;
  z-index: 4;
}
h1 {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.1em;
  color: #552F2E;
  display: inline-block;
  width: auto;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 6.2s;
  z-index: 4;
}

.text-stack img {
  width: 142px;
  height: auto;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 6.6s;
  z-index: 5;
}

.img-stack {
  display: grid;
  position: relative;
  min-height: 30vh;
  max-height: 60vh;
}

/* CENTER IMAGE */
.center-img {
  grid-row: 1;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 2.4s;
  z-index: 1;
}
.center-img img {
  display: block;
  width: 100%;
  height: auto;
}

/* LEFT FLOWER */
.left-flower {
  grid-row: 1;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 0.6s;
  z-index: 0;
}
.left-flower img {
  display: block;
  width: 100%;
  height: auto;
  transform: translate(-12px, 42px);
}

/* RIGHT FLOWER */
.right-flower {
  grid-row: 1;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 3s;
  z-index: 2;
}
.right-flower img {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  transform: translate(-7px, 3px);
}

/* LOVE TAG */
.love-tag {
  grid-row: 1;
  top: 100%;
  opacity: 0;
  animation: loadUp 1s forwards;
  -webkit-animation: loadUp 1s forwards;
  animation-delay: 4.4s;
  z-index: 3;
}
.love-tag img {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  transform: translate(0px, -33px);
}

@media screen and (max-device-width: 600px) {
  h1 {
    font-size: 15vw;
    margin: -20px 0px 0px 0px;
  }
  .text-stack {
    padding-left: 20%;
    padding-right: 20%;
  }
  .img-stack {
    grid-template-columns: repeat(12, 1fr);
    /* height: 40vh; */
    padding-left: 0%;
    padding-right: 0%;
  }
  /* CENTER IMAGE */
  .center-img {
    grid-column: 2 / span 10;
  }
  /* LEFT FLOWER */
  .left-flower {
    grid-column: 1 / span 6;
  }
  /* RIGHT FLOWER */
  .right-flower {
    grid-column: 9 / span 5;
  }
  /* LOVE TAG */
  .love-tag {
    grid-column: 2 / span 3;
  }
}

@media screen and (min-device-width: 601px) {
  h1 {
    font-size: 96px;
    margin: 20px 0px 0px 0px;
  }
  .img-stack {
    grid-template-columns: repeat(16, 1fr);
    /* height: 55vh; */
    padding-left: 5%;
    padding-right: 5%;
  }
  /* CENTER IMAGE */
  .center-img {
    grid-column: 6 / span 6;
  }
  /* LEFT FLOWER */
  .left-flower {
    grid-column: 5 / span 4;
  }
  /* RIGHT FLOWER */
  .right-flower {
    grid-column: 10 / span 3;
  }
  /* LOVE TAG */
  .love-tag {
    grid-column: 6 / span 2;
  }
}

/* KEYFRAMES ANIMATION */
@keyframes loadUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}@-webkit-keyframes loadUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
